{% extends "shop/base.html" %}
{% load static %}
{% load my_filters %}
{% block title %}Печать QR{% endblock %}

{% block content %}



<div class="container mt-5">
    <form method="POST">{% csrf_token %}
        <div class="mb-3">
            <label for="exampleInput" class="form-label">Введите название</label>
            <input type="text" class="form-control" name="name" placeholder="Название продукта" required {% if name %} value="{{name}}" {% endif %}>
        </div>
        <button type="submit" class="btn btn-primary">Поиск</button>
    </form>
</div>
{% if products %}

<div class="container mt-4">
    <h1 class="text-center">Список Продуктов</h1>
    <div class="row" style="color: black;">
        {% for product in products %}
            <div class="col-md-4 mb-4">
                <div class="card">
                    <!-- {% if product.image %}
                    <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.name }}">
                    {% else %}
                    <img src="/static/icons/nophoto.webp" class="card-img-top" alt="{{ product.name }}">
                    {% endif %} -->
                    <div class="card-body">
                        <h5 class="card-title">{{ product.name }}</h5>
                        <!-- <p class="card-text">{{ product.description }}</p> -->
                        <!-- <p class="card-text"><strong>Цена: {{ product.price }}₽</strong></p> -->
                        <a href="{% url 'product_detail_for_qr_image' product.id %}" class="btn btn-primary">Подробнее</a>
                    </div>
                </div>
            </div>
        {% empty %}
            <div class="col-12">
                <div class="alert alert-warning" role="alert">
                    Продукты не найдены.
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endif %}


{% endblock content %}


