{% extends "shop/base.html" %}
{% load static %}
{% load my_filters %}
{% block title %}Установить цену{% endblock %}

{% block content %}

<h4 class="text-center">Установить цены продажи в процентах, например если вы укажите 10% а стоимость продажи продукта увеличится на 110%</h4>
<div class="container mt-5">
    <form method="POST">{% csrf_token %}
        <div class="mb-3">
            <label for="exampleSelect" class="form-label">Выберите категорию</label>
            <select class="form-select" name="category" required>
                <option value="" disabled selected>Выберите категорию...</option>
                {% for c in cats %}
                    <option value="{{c}}">{{c}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="mb-3">
            <label for="exampleInput" class="form-label">Введите Процент</label>
            <input type="number" class="form-control" name="percent" placeholder="Процент" min="1" max="100" required>
        </div>
        <button type="submit" class="btn btn-primary">Утановить цену</button>
    </form>
</div>


<!-- <script src="{% static 'js/utils/languages.js' %}"></script> -->



{% endblock %}

