
#container_video {
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
}

#add_product_form {
    max-width: 800px; 
    margin: auto; 
    color: #333;
}

.suggestions-list {
    position: absolute; /* Используйте абсолютное позиционирование */
    border: 1px solid #ccc;
    max-height: 150px;
    overflow-y: auto;
    background-color: white; /* Белый фон для лучшей читаемости */
    z-index: 1000; /* Убедитесь, что список отображается поверх других элементов */
}

.suggestion-item {
    padding: 10px;
    cursor: pointer;
    border: 1px black solid;
    background-color:#cbcbcb;
    margin: 2px;

}

.suggestion-item:hover {
    background-color: #e0e0e0;
}

/* Сообщение о том что такой код уже есть */
.centered-banner-message {
    position: absolute;   
    top: 40%;             
    left: 50%;        
    transform: translateX(-50%);
    width: 40%;       
    background-color: rgba(145, 113, 25, 0.8);
    text-align: center; 
    padding: 10px;      
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 2;  
    color:white;  
}



/* Стили для загрузчика в input product name */
.loader-ring {
    width: 15px;
    height: 15px;
    border: 3px solid transparent;
    border-top-color: #3498db;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    border-left-color: #e74c3c;
    border-bottom-color: #f1c40f;
    border-right-color: #2ecc71;
    margin-left: 8px;
    position: absolute;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}



/* Анимация мигания negative profit input*/
@keyframes profitIsNegative {
    0%, 100% {
        background-color: white;
    }
    50% {
        background-color: rgb(255, 197, 197);
    }
}

.profitIsNegative {
    animation: profitIsNegative 1s infinite; /* Анимация мигания */
}
